html {
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 83.4%;
}

a img {
  border: 0;
}

h1, h2 {
  color: #900;
}

pre {
  border: 1px solid #999;
  padding: .25em;
  background-color: #DDD;
}
